.alert-box{
    background-color: skyblue;
    padding: 20px;
    color: white;
    border-radius: 5px;
    display: none;
}

.list-group{
    display: none; /*숨김*/
}

.show{
    display: block; /*css는 하단에 적을수록 우선 적용*/
}